*{box-sizing: border-box;}
body{
    margin:0;
    background-color: #fff;
    color:#222328;
    font-size:16px;
    font-family: sans-serif;
}
a{
    text-decoration:none;
    color:#222328;
}
a:hover{
    color:#757782;
}
.container{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height:100px;
    background-color:#fff3e6;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:15px;
    padding-right:15px;
}

/* navigation */
ul.gnb{
    list-style-type: none;
    margin: 0;
    padding:0;
    display:flex;
}
ul.gnb>li{
    width:150px;
    text-align:center;
    position:relative;
}
ul.gnb>li>a{
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height:40px;
    transition: all 0.3s;
}
ul.gnb>li:hover{
    background-color: #f8dc9b;
}
ul.lnb{
    position:absolute;
    background-color: #fff3e6;
    width:100%;
    top:40px;
    left:0;
    padding:0;
    padding-top:10px;
    padding-bottom:30px;
    list-style-type: none;
    margin:0;
    line-height: 40px;
    display: none;
    z-index:99;
}
ul.lnb li:hover{
    background-color: #f8dc9b;
}


/* navigation */
.hero{
    height:300px;
    position: relative;
    overflow:hidden;
}
.slidein{
    width:3600px;
    position: absolute;
    top:0;
    left:0;
}
.slidein>img{
    float:left;
}

/* hero */

.main{
    height: 200px;
}
.row{
    display:flex;
    margin-left:-10px;
    margin-right: -10px;
}
.notice-gallery{
    width:40%;
    padding:10px;
}
.tab{
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
    justify-content:flex-start;
    padding-left: 10px;
}
.tab a{
    display:block;
    line-height:35px;
    background:#fff3e6;
    color:#a57401;
    padding-left:15px;
    padding-right:15px;
}
.tab a.active{
    background: #ffe3a0;
    color:#222328;
    font-weight:bold;
}
.tab-content{
    background:#ffe3a0;
    padding:7px 20px 3px;
}
.tab-content>div{
    display:none;
}
.tab-content>div.active{
    display:block;
}
#notice li{
    border-bottom: 1px dashed #757782
}
#notice li:hover{
    background-color:#fcd16d;
    transition:all 300ms;
}
#notice a{
    line-height:15px;
}
#gallery{
    text-align: center;
}
#gallery img{
    width:120px;
    height:120px;
    margin:10px 8px 9px;
}
.banner,.quick{
    width:30%;
    padding:10px;    
}
.banner img{
    margin-bottom:3px;
}
.baro{
    text-align: center;
    background-color: #bac5fc;
}
.quick-menu{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding-top:50px;
}
.quick ul{
    width:33.33333%;
    list-style: none;
    padding-left:0;
    padding-right:20px;
    margin:0;
}
.quick img{
    width:80%;
}
footer{
    height:100px;
    background-color:#b1b1b1;
    color:#fff;
    display:flex;
}
footer div{
    width:33.3333334%
}
.logoarea{
    padding:30px 20px 0;
    width:20%;
}
.copyarea{
    width:60%;
    text-align: center;
}
.copyarea p{
    margin:0;
    padding:0;
    margin-top: 7px;
}
.copyarea p:first-child{
    margin-top: 10px;
}
.snsarea{
    width:20%;
    margin-top:24px;
}
a.sns{
    display: inline-block;
    text-indent: -5000px;
    width:50px;
    height:50px;
    border:1px solid #ddd;
    border-radius:5px;
    margin-left:10px;
    background: url(../images/sns이미지.jpg) no-repeat;
    background-size: 515%;
}
a.sns.facebook{
    background-position: -43px -8px;
}
a.sns.twitter{
    background-position: -100px -66px;
}
a.sns.youtube{
    background-position: -43px -66px;
}
.popup{
    width:550px;
    background: #fff;
    position:fixed;
    top:250px;
    /* left:calc(50% - 225px) */
    left:50%;
    transform: translateX(-50%);
    padding:40px;
    border-radius: 10px;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
    display:none;
}
.closebtn{
    text-align:center;
    margin-top:50px;
}
.close{
    padding:5px 20px;
    font-size:16px;
}